@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
  

*{
    margin: 0%;
    padding: 0%;
    background-color: #5F9EA0;
    font-family: "Kode Mono", monospace;
    color: white;
}
#logo{
    font-size: 10pc;
    text-align: center;
    margin-top: 5%;
}

#logoimg{
   margin-left: 35%;
   cursor: pointer;
}
.box{
    font-size: 4pc;
    text-align: center;
    margin-bottom: 5%;
}

#htp{
    font-size: 5pc;
    text-align: center;
    margin-bottom: 3%;
    color: #964b00;
}

#cont{
    font-size: 3pc;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 5px solid black;
    display: inline-block;
    border-radius: 20px;
    padding: 5px;
    margin-left: 45%;
    background-color: #964b00;
}
.container{
    display: flex;
    gap: 300px;
}

#heading{
    margin-bottom: 7%;
    text-align: center;
    font-size: 10pc;
}

.player1,.player2{
    margin-left: 15%;
    margin-bottom: 4%;
}

.playerprofile{
    border-radius: 50%;
    justify-content: center;
    margin-bottom: 5%;
}
input{
    margin-left: 10%;
    font-size: large;
    color: #964b00;
    border: 5px solid white;
}
::placeholder{
    color: #964b00;
}
#in-put1,#in-put2{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 20pt;
    font-weight: 900;
}

#profile1,#profile2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.reload-profile1,.reload-profile2{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.startgame{
    margin-left: 25%;
}
#start-btn{
    display: inline-block;
    text-align: center;
    font-size: 50pt;
    border-radius: 10px;
    border: 5px solid black;
    padding:25px;
    cursor: pointer;
    background-color: #964b00;
}

@media screen and (max-width:991px) {
    #logo{
        margin-top: 80px;
        font-size: 5pc;
    }

    #logoimg{
        margin-left: 35%;
        width: 300px;
        height: 300px;
    }

    #htp{
        margin-top: 2%;
        font-size: 4pc;
    }

    .box{
        font-size: 2pc;
        margin-bottom: 3%;
    }

    #cont{
        margin-left: 39%;
    }

    #heading{
        font-size: 5pc;
        margin-left: 5%;
        margin-top: 2%;
    }

    .player1,.player2{
        margin-left: 5%;
    }
    input{
        margin-left: -5%;
    }

    #start-btn{
        font-size: 25pt;
    }
    .startgame{
        margin-left: 25%;
    }
}

@media screen and (max-width:767px) {
    #logo{
        font-size: 4pc;
    }

    #logoimg{
        margin-left: 30%;
        width: 300px;
        height: 300px;
    }
    .box{
        margin-bottom: 3%;
    }

    #cont{
        margin-left: 35%;
    }
    
    #heading{
        font-size: 4pc;
        margin-left: 29%;
        margin-top: 3%;
    }

    .startgame{
        margin-left: 32%;
    }
}

@media screen and (max-width:479px) {
    #logo{
        font-size: 2.5pc;
    }

    #logoimg{
        margin-left: 20%;
        width: 300px;
        height: 300px;
    }

    #htp{
        font-size: 3pc;
        margin-top: 12%;
    }
    .box{
        margin-top: 5%;
        font-size: 15pt;
    }
    #cont{
        margin-top: 5%;
        margin-left: 25%;
    }

    #heading{
        margin-left: 90%;
        margin-top: 10%;
    }
    .startgame{
        margin-top: 5%;
        width: 700px;
        margin-left: 50%;
    }

    .player1,.player2{
        margin-left: 7%;
        margin-top: 10% ;
    }
    input{
        margin-left: -4%;
        margin-bottom: 20%;
    }
   
}